<div id = "page-title">
    About Me
</div>
<hr style="width:40%; margin:auto;">
<div id = "page-content">
    Hello! My name is Jordan Day, and I am currently a student at the University of Massachusetts Amherst.
    I am majoring in computer science and minoring in Linguistics. I love doing hackathons, and have participated
    in two so far: HackUMassX and Hack(H)er413 (you can check out those projects on my projects page!).
    I am currently interested in web development and love expanding my knowledge.
</div>