<div id = "page-title">
    contact info
</div>
<div id = "page-content">
    ▶ <a href = "/public/resume.pdf" type = "application/pdf">resume</a>
    <br>
    ▶ <a href = "https://github.com/jordaeday/" type = "url">github</a>
    <br>
    ▶ <a href = "https://www.linkedin.com/in/jordanday" type = "url">linkedin</a>
    <br>
    ▶ <a href = "mailto:jordaeday22@gmail.com" type = "url">email</a>
</div>