<div id = "page-title">
    friends!!
</div>
<div id = "page-content">
    {{#each badges}}
    <class = "badge">
        <a href="{{link}}" class="pixelated">
            <img src="./badges/{{path}}" alt="{{alt}}">
        </a>
    </class>
    {{/each}}
</div>