<div id = "page-title">
    home
</div>
<div id = "page-content">
    Hiii! My name is Jordan Day, and I am currently a student at the University of Massachusetts Amherst.
    I am majoring in computer science and minoring in linguistics. I enjoy doing software development, web development,
    and dabbling in hackathons and cybersecurity. On weekends or in my free time, you can find me playing video games,
    coding, or at a debate tournament. 
    <br> <br>
    I'm currently looking for internships for this upcoming summer (2025), so if you
    know of any opportunities, please reach out to me on my contact page!
    <br>
    <br>
    <div id = "umass-webring">
        <div>
            <a href="{{webring.prev.url}}">{{webring.prev.name}}</a>
        </div>
        <div>
            &lt;&dash;
            <a href="https://github.com/umacabal/umaring">UMass Webring</a>
            &dash;&gt;
        </div>
        <div>
            <a href="{{webring.next.url}}">{{webring.next.name}}</a>
        </div>
    </div>
</div>