<div id = "page-title">
    home
</div>
<div id = "page-content">
    Hiii! My name is Jordan Day, and I just graduated from the University of Massachusetts 
    Amherst this December with a B.S. in Computer Science and a minor in Linguistics. I enjoy 
    doing software development, web development, hackathons, and cybersecurity. I am currently 
    looking for full time roles, and I am willing to relocate to make that happen! On weekends 
    or in my free time, you can find me playing video games, coding, or at a debate tournament. 
    Feel free to reach out to me through the contact page if you'd like to connect!
    <br>
    <br>
    <div id = "umass-webring">
        <div>
            <a href="{{webring.prev.url}}">{{webring.prev.name}}</a>
        </div>
        <div>
            &lt;&dash;
            <a href="https://github.com/umacabal/umaring">UMass Webring</a>
            &dash;&gt;
        </div>
        <div>
            <a href="{{webring.next.url}}">{{webring.next.name}}</a>
        </div>
    </div>
</div>