<div id = "page-title">
    My Resume
</div>
<hr style="width:40%; margin:auto;">
<div id = "page-content" style="padding-left:15%; padding-right:15%;">
    <h2 id="links">
        <a href="/public/resume.pdf" title="Jordan Day's Resume" type="application/pdf">
            <span class="material-symbols-outlined" style="font-size:35px;">
                description
            </span>
            Resume
        </a>
        <br>
        <a href="/public/resume.pdf" title="Jordan Day's Resume (download)" type="application/pdf" download="/public/resume.pdf">
            <span class="material-symbols-outlined" style="font-size:35px;">
                download
            </span>
            Resume Download
        </a>
        <br>
        <a href="https://www.linkedin.com/in/jordanday/" title="LinkedIn Link">
            <span class="material-symbols-outlined" style="font-size:35px;">
                open_in_new
            </span>
            LinkedIn
        </a>
        <br>
        <a href="https://github.com/jordaeday" title="GitHub Link">
            <span class="material-symbols-outlined" style="font-size:35px;">
                terminal
            </span>
            GitHub
        </a>
    </h2>
</div>