<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/global.css">
        <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css'>
        <style>
        </style>
        <title>jordane.day</title>
        <link rel="icon" type="image/x-icon" href="/public/favicon.gif">
    </head>
    <body>
        <div class = "window">
            <div class = "bar">
                <div id = "active-text"> test </div>
                <div id = "window-buttons">
                    <div style = "color:rgb(243 139 168)">■</div>
                    <div style = "color:rgb(249 226 175)">■</div>
                    <div style = "color:rgb(166 227 161)">■</div>
                </div>
            </div>
            <div class = "content">
                <div class = "sidebar">
                    <div id = "side-intro"> 
                        hi im jorbert
                    </div>
                    <div class = "sidebar-item"> about </div>
                    <div class = "sidebar-item"> blog </div>
                    <div class = "sidebar-item"> contact </div>
                    <div class = "sidebar-item"> friends </div>
                </div>
                <div class = "main">
                    <div id = "page-title">
                        title
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        
    </script>
</html>