<html>
  <head>
    <script src="/gradient-slide/build/engine.js"></script>
    <script src="/gradient-slide/build/game.js"></script>
    <style>
      #game {
        width: fit-content;
        margin: auto;
        background-color: var(--text);
        border: var(--text) 10px solid;
        border-radius: 10px;
      }
    </style>
  </head>
  <body>
    <div id = "page-title">
        Gradient Slide Puzzle
    </div>
    <div id = "game"></div>
    <script>
        
    </script>
  </body>